<html lang='en'>
  <body>
    <h1>Netlify - Supabase - Astro</h1>
    <ul>
      <li>
        <a href='/postgres'>Postgres</a>
      </li>
      <li>
        <a href='/supabase-client'>Supabase Client</a>
      </li>
      <li>
        <a href='/edge-function'>Edge Function</a>
      </li>
      <li>
        <a href='/serverless-function'>Serverless Function</a>
      </li>
    </ul>
  </body>
</html>
